{% extends 'manager/base.html' %}
{% block title %}
    Giriş Yap
{% endblock %}
{% block base_content %}
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="card card-md">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Admin Panel Girişi</h2>
            <form method="POST" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Eposta Adresi</label>
                    <input type="email" class="form-control" name="email" placeholder="your@email.com" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">Şifre</label>
                    <div class="input-group input-group-flat">
                      <input type="password" class="form-control" name="password"  placeholder="Your password"  autocomplete="off">
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}