{% extends 'admin/base.html' %}
{% block header %}
    {% include 'admin/components/header.html' %}
{% endblock %}
{% block navbar %}
    {% include 'admin/components/navbar.html' %}
{% endblock %}
{% block base_content %}
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
                {% block page_header %}{% endblock %}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
          {% block content %}{% endblock %}
      </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'admin/components/footer.html' %}
{% endblock %}