{% extends 'user/alt_base.html' %}
{% block title %}
    Eğitmen Paneli
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="page-description">
                <div class="row">
                    <div class="col">
                        <h1>Eğitmen Paneli</h1>
                    </div>
                    <div class="col">
                        <a href="{% url 'video_upload' %}" class="btn btn-outline-primary float-end">Video Yükle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <div class="card widget widget-list">
                <div class="card-header">
                    <h5 class="card-title">Son Videolar<span class="badge badge-success badge-style-light">{{ request.user.instructor_videos.count }} Toplam Video</span></h5>
                </div>
                <div class="card-body">
                    <span class="text-muted m-b-xs d-block">Tüm videolar özelliği yakında eklenecek!</span>
                    <ul class="widget-list-content list-unstyled">
                        {% for video in videos %}
                            <li class="widget-list-item widget-list-item-blue">
                                <span class="widget-list-item-icon"><i class="material-icons-outlined">play_circle</i></span>
                                <span class="widget-list-item-description">
                                    <a href="{% url 'video_detail' pk=video.pk %}" class="widget-list-item-description-title">
                                        {{ video.title }}
                                    </a>
                                    <span class="widget-list-item-description-subtitle">
                                        {{ video.created_on }}
                                        <a href="{% url 'video_edit' pk=video.pk %}" class="btn btn-info"><i class="ti ti-pencil"></i></a>
                                        <a href="{% url 'video_delete' pk=video.pk %}" onclick="return confirm('Silme işlemini onaylıyor musunuz?')" class="btn btn-danger"><i class="ti ti-trash"></i></a>
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}