{% extends 'manager/alt_base.html' %}
{% load static %}
{% block title %}
    Öğrenciler
{% endblock %}
{% block page_header %}
    Öğrenciler
{% endblock %}
{% block button %}
    <a href="{% url 'admin_students_create' %}" class="btn btn-success float-end">Öğrenci Ekle</a>
{% endblock %}
{% block js_files %}
    <script src="{% static 'manager/libs/list.js/dist/list.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const list = new List('table-default', {
                sortClass: 'table-sort',
                searchClass: 'search-input', // Arama alanının sınıfını belirtin
                searchDelay: 300,
                listClass: 'table-tbody',
                valueNames: [ 'sort-student-number', 'sort-full-name', 'sort-email', 'sort-birth-date', 'sort-country'],
                  page: 10, // Sayfa başına öğe sayısı (örneğin 10 öğe)
                  pagination: true, // Sayfalama özelliğini etkinleştirin


          });
          const searchInput = document.getElementById('search-input');
           searchInput.addEventListener('input', function() {
              list.search(this.value);
           });
        })
    </script>
{% endblock %}
{% block content %}
    <div class="mb-3">
       <input type="text" class="form-control" id="search-input" placeholder="Ara...">
    </div>
    <div class="card">
              <div class="card-body">
                <div id="table-default" class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th><button class="table-sort" data-sort="sort-student-number">Öğrenci Numarası</button></th>
                            <th><button class="table-sort" data-sort="sort-full-name">Adı Soyadı</button></th>
                            <th><button class="table-sort" data-sort="sort-email">Eposta Adresi</button></th>
                            <th><button class="table-sort" data-sort="sort-birth-date">Doğum Tarihi</button></th>
                            <th><button class="table-sort" data-sort="sort-country">Ülke</button></th>
                            <th class="w-1"></th>
                          </tr>
                        </thead>
                        <tbody class="table-tbody">
                            {% for student in students %}
                                 <tr>
                                        <td class="sort-student-number">{{ student.student_number }}</td>
                                        <td class="sort-full-name">{{ student.get_full_name }}</td>
                                        <td class="sort-email">{{ student.email }}</td>
                                        <td class="sort-birth-date">{{ student.birth_date }}</td>
                                        <td class="sort-country">{{ student.country }}</td>
                                        <td class="d-flex flex-row gap-2">
                                            <a href="{% url 'admin_students_update' pk=student.pk %}" class="btn btn-info">Düzenle</a>
                                            <a href="{% url 'admin_students_delete' pk=student.pk %}" onclick="return confirm('Silme işlemini onaylıyor musunuz?')" class="btn btn-danger">Sil</a>
                                        </td>
                                 </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                        <div id="pagination-container">
                           <ul class="pagination"></ul>
                        </div>
                </div>
              </div>
            </div>
{% endblock %}