{% load i18n %}
<div class="app-menu">
    <div class="container">
        <ul class="menu-list">
            <li class="active-page"><a href="{% url 'homepage' %}" class="active">{% trans 'Anasayfa' %}</a></li>
{#            <li>#}
{#                <a href="#">Apps<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>#}
{#                <ul class="sub-menu">#}
{#                    <li>#}
{#                        <a href="mailbox.html">Mailbox<span class="badge rounded-pill badge-danger float-end">87</span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="file-manager.html">File Manager</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="calendar.html">Calendar<span class="badge rounded-pill badge-success float-end">14</span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="todo.html">Todo</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
            <li><a href="{% url 'videos_list' %}">Videolar</a></li>
            <li>
                <a href="#">Diğer<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">Styles<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="styles-typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="styles-code.html">Code</a>
                            </li>
                            <li>
                                <a href="styles-icons.html">Icons</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tables<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="tables-basic.html">Basic</a>
                            </li>
                            <li>
                                <a href="tables-datatable.html">DataTable</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Forms<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="forms-basic.html">Basic</a>
                            </li>
                            <li>
                                <a href="forms-input-groups.html">Input Groups</a>
                            </li>
                            <li>
                                <a href="forms-input-masks.html">Input Masks</a>
                            </li>
                            <li>
                                <a href="forms-layouts.html">Form Layouts</a>
                            </li>
                            <li>
                                <a href="forms-validation.html">Form Validation</a>
                            </li>
                            <li>
                                <a href="forms-file-upload.html">File Upload</a>
                            </li>
                            <li>
                                <a href="forms-text-editor.html">Text Editor</a>
                            </li>
                            <li>
                                <a href="forms-datepickers.html">Datepickers</a>
                            </li>
                            <li>
                                <a href="forms-select2.html">Select2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>