{% load i18n %}
<div class="app-menu">
    <div class="container">
        <ul class="menu-list">
            <li class="active-page"><a href="{% url 'homepage' %}" class="active">{% trans 'Anasayfa' %}</a></li>
{#            <li>#}
{#                <a href="#">Apps<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>#}
{#                <ul class="sub-menu">#}
{#                    <li>#}
{#                        <a href="mailbox.html">Mailbox<span class="badge rounded-pill badge-danger float-end">87</span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="file-manager.html">File Manager</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="calendar.html">Calendar<span class="badge rounded-pill badge-success float-end">14</span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="todo.html">Todo</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
            <li><a href="{% url 'videos_list' %}">Videolar</a></li>
            <li>
                <a href="#">Diğer<i class="material-icons has-sub-menu">keyboard_arrow_down</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'privacy_policy' %}">Gizlilik Politikası</a>
                    </li>
                    <li>
                        <a href="{% url 'terms_of_use' %}">Kullanım Şartları</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>