{% extends 'user/alt_base.html' %}
{% block title %}
    {{ ticket.subject }}
{% endblock %}
{% block content %}
    <div class="grid grid-cols-4 gap-2">
        <div class="col-span-3">
            <div class="block max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ ticket.subject }}</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{ ticket.content }}</p>
                <hr class="mt-3"/>
                <div>
                    <small>{{ ticket.created_on }} | </small>
                    <small>{{ ticket.category }}</small>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="block max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Destek Talebi Bilgisi:</h2>
                <ul class="max-w-md space-y-4 text-gray-500 list-none list-inside dark:text-gray-400">
                    <li>
                        <strong>Durumu:</strong> {{ ticket.status }}
                    </li>
                    <li>
                        <strong>İlgilenen:</strong> {% if ticket.agent %} {{ ticket.agent }} {% else %} Yok {% endif %}
                    </li>
                    <li>
                        <strong>Öncelik:</strong> {{ ticket.priority }}
                    </li>
                    <li>
                        <strong>Oluşturulma Tarihi:</strong> {{ ticket.created_on }}
                    </li>
                    <li>
                        <strong>Son Güncellenme:</strong> {{ ticket.updated_on }}
                    </li>
                    <li>
                        <strong>Kategori:</strong> {{ ticket.category }}
                    </li>
                    <li>
                        <a href="#" class="mt-3 bg-blue-500 hover:bg-blue-800 text-white hover:text-blue-100 py-2 px-4 rounded-lg">Çözüldü Olarak İşaretle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}