{% extends 'user/alt_base.html' %}
{% block title %}
    Favori Videolarım
{% endblock %}
{% block content %}
    <div class="h2">Favori Videolarım</div>
    <div class="row">
        {% for favorite in user.video_favorites.all %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ favorite.video.title }} <a href="{% url 'favorite_video' pk=favorite.video.pk %}" onclick="return confirm('Kaldırma işlemini onaylıyor musunuz?')" class="btn btn-danger">Favorilerden Kaldır</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-warning">Hiç bir video favorilere eklenmemiş :/</div>
        {% endfor %}
    </div>
{% endblock %}o %}