{% extends 'user/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="app horizontal-menu app-auth-sign-in align-content-stretch d-flex flex-wrap justify-content-end">
        <div style="background-size: 60%; background: {% static 'user/images/backgrounds/sign-in.svg' %}">

        </div>
        <div class="app-auth-container">
            <div class="logo">
                <a>Neptune</a>
            </div>
{#            <p class="auth-description">Please sign-in to your account and continue to the dashboard.<br>Don't have an account? <a href="sign-up.html">Sign Up</a></p>#}

            <form method="POST">
                {% csrf_token %}
                <div class="auth-credentials m-b-xxl">
                    <label for="otp">{% trans 'Tek kullanımlık şifreniz:' %}:</label>
                    <input type="text" name="otp" id="otp" class="form-control">
                </div>

                <div class="auth-submit">
                    <button type="submit" class="btn btn-primary">{% trans 'Giriş Yap' %}</button>
                </div>
            </form>
{#            <div class="divider"></div>#}
{#            <div class="auth-alts">#}
{#                <a href="#" class="auth-alts-google"></a>#}
{#                <a href="#" class="auth-alts-facebook"></a>#}
{#                <a href="#" class="auth-alts-twitter"></a>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}