{% extends 'user/alt_base.html' %}
{% block title %}
    İlk Giriş Şifre Güncelleme
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="password">Yeni Şifre</label>
        <input type="password" name="password" class="form-control" id="password">
        <label for="password2">Yeni Şifre Tekrar</label>
        <input type="password" name="password2" class="form-control" id="password2">
        <button type="submit" class="btn btn-primary">Şifreyi Sıfırla</button>
    </form>
{% endblock %}