{% extends 'user/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="app horizontal-menu app-auth-sign-in align-content-stretch d-flex flex-wrap justify-content-end">
        <div class="app-auth-background">

        </div>
        <div class="app-auth-container">
            <div class="logo">
                <a href="index.html">Neptune</a>
            </div>
{#            <p class="auth-description">Please sign-in to your account and continue to the dashboard.<br>Don't have an account? <a href="sign-up.html">Sign Up</a></p>#}

            <form method="POST">
                {% csrf_token %}
                <div class="auth-credentials m-b-xxl">
                    {{ form|crispy }}
                </div>

                <div class="auth-submit">
                    <button type="submit" class="btn btn-primary">{% trans 'Giriş Yap' %}</button>
                    <a href="#" class="auth-forgot-password float-end">Forgot password?</a>
                </div>
            </form>
{#            <div class="divider"></div>#}
{#            <div class="auth-alts">#}
{#                <a href="#" class="auth-alts-google"></a>#}
{#                <a href="#" class="auth-alts-facebook"></a>#}
{#                <a href="#" class="auth-alts-twitter"></a>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}