{% extends 'user/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Mail Gönderildi!</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">Şifre sıfırlama maili başarıyla gönderildi, lütfen mail adresinizi kontrol ediniz</p>
        </div>
    </div>
</section>
{% endblock %}