{% extends 'user/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Başarıyla Sıfırlandı!.</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">Şifre sıfırlama işlemi başarıyla tamamlandı, şimdi yeni şifreniz ile giriş yapabilirsiniz</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a href="{% url 'login' %}" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Giriş Yap
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}