{% extends 'user/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="card widget widget-info">
        <div class="card-body">
            <div class="widget-info-container">
                <div class="widget-info-image" style="background: url({% static 'user/images/widgets/security.svg' %})"></div>
                <h5 class="widget-info-title">Mail Gönderildi!</h5>
                <p class="widget-info-text">Şifre sıfırlama maili başarıyla gönderildi, lütfen eposta adresinizi kontrol ediniz</p>
            </div>
        </div>
    </div>
{% endblock %}