{% extends 'user/alt_base.html' %}
{% load site_settings %}
{% get_general_settings as general_settings %}
{% block title %}
    Kullanım Şartları
{% endblock %}
{% block content %}
    <section class="bg-white dark:bg-gray-800">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
              <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Kullanım Şartları</h2>
              <p class="mb-4 font-light">{{ general_settings.site_terms_of_use }}</p>
          </div>
      </div>
    </section>
{% endblock %}